.divSeparador{
    margin-bottom: 10px;
}
.textFieldCalle{
    width: 200px;
}
.textFieldNumeroCasa{
    width:80px;
}
.textAreaReferencia{
    height: 100px;
    width: 600px;
}
.textFieldCorreo{
    width: 500px;
}
.separadorEscenarios{
    border: solid 1px #C3C1C4;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
